<p>{{recipientCompany}} has {{status}} your partner connection{{#if rejectionReason}}: {{rejectionReason}}{{/if}}{{#if
    terminationReason}}: {{terminationReason}}{{/if}}{{#if inactiveReason}}: {{inactiveReason}}{{/if}}.</p>